


/* .sidenav {
    height: 50%;
    width: 250px;
    position: absolute;
    z-index: 1;
    
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
} */

h5 {
    color: #1b830b;
}

.sidenav {
    overflow: hidden;
    font-family: verdana;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    background: linear-gradient(to right, #4eb43e , #2f9e1e);
    color: white;
    position: fixed;
    top: 250px;
    width: 300px;
    right: 0px;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid grey;
    border-radius: 5px;
  }

  .dropzone {
      color: white;
  }