.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-footer{
    background: linear-gradient(to right, #4eb43e , #2f9e1e);

    color: white;
}
h3 {
    color: white
}
p{
    color: white;
}

button{
    background: #1b830b ;
    color: white;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid white;
    margin: 1em 0;
    padding: 0;
}